.logout-btn {
    background-color: #3488c8;
    color: #2C557D;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn i {
    margin-right: 8px;
    /* Space between icon and text */
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0d487a;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-header img {
    width: 60px;
    border-radius: 50%;
}

.list-unstyled {
    padding: 0;
}

.list-unstyled li {
    padding: 10px;
}

#content {
    flex: 1;
    padding: 20px;
}

.card {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.progress-indicator {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.progress-indicator div {
    text-align: center;
    flex: 1;
}

.progress-indicator i {
    font-size: 24px;
    background: white;
    border: 2px solid #007bff;
    border-radius: 50%;
    padding: 20px;
}

.progress-indicator .completed i {
    background: #007bff;
    color: white;
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Full height */
    background: #0a508f;
    /* Match sidebar color */
    padding: 15px;
}


.logout {
    margin-top: auto;
    padding: 20px;
}

.logout a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3b78c2;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    /* full width */
    text-align: center;

}

#sidebar ul.components li a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    /* hover effect */
    border-radius: 5px;
    /* Rounded corners */
}

/* Hover effect */
#sidebar ul.components li a:hover {
    background: #15458a;
    /* hover */
    color: white;
}


.admin-profile {
    display: flex;
    align-items: center;
    /* Aligns image and text in the same row */
    gap: 10px;
    /* Adds space between image and text */
    padding: 15px;
}



.admin-info {
    float: right;

}

.admin-info h4 {
    font-size: 20px;
    text-align: left;

}

.admin-info p {
    font-size: 14px;
    margin: 0;
    color: #d1d1d1;
}

#content {
    background: white;
    padding: 20px;
    border: 2px solid #ddd;
    /* Light gray border */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    /* Drop shadow effect */
    margin: 20px;
    /*corners spacing*/
}

.fa-check-circle {
    color: #15458a;
    font-size: 30px;
}

.fa-clock {
    color: #15458a;
    font-size: 30px;
}

.fa-circle {
    color: grey;
    font-size: 30px;
    opacity: 50%;
}

.fa-angle-double-left{
    float: right;
    font-size: 20px;
    opacity: 50%;
}

